@charset "utf-8";
/* CSS Document für die Onepage Formate  */

@import url("normalize.css");

*{box-sizing: border-box;}

#wrapper{background-color:rgba(89,161,237,0.00);
max-width:80.5rem;	
padding: 0.625rem;
margin: auto;}

body{ font-family: "Trebuchet MS", sans-serif;
margin: 0;
padding: 0;
overflow-y: scroll;
height: 100vh;
}/**/


/**/section{min-height: 200px;
padding: 0.625rem;
padding-top: 3.125rem;	
margin-top: 0.625rem;	
border-top:0.0625rem solid}

#kontakt{margin-bottom: 25rem; /* 400px / 16px =  25rem  */}

h1, h2, h3, ul{margin: 0;
text-align: center;}
.lead{background-color: #000;
color: #FFFFFF;
margin-top: 0;
margin-bottom:0;
padding: 0.5rem; 
border-radius: 10px; }

.flex_stretch{align-items: stretch; 
	justify-content: center;
}
 
h1{font-size: 350%}




/*  ##################### Navigations Formate   ####################### */
.top_link{background-color: rgba(101,212,32,0.58);
text-align: center;
line-height: 6.25rem;	
width: 6.25rem;
height: 6.25rem;	
position: fixed;
right: 12.5rem;
bottom:0.625rem;}

#top_navigation{ background-color:rgba(239,99,10,0.00);
position: fixed;
left:0;
top:0;
width:100%;/**/}

#top_navigation ul{background-color: rgba(226,99,239,0.00);
max-width: 75rem;
margin: auto;
list-style: none;
padding: 0;}

#top_navigation li{background-color:#000000;
float: left;
width: 12.5%;
padding: 0.625rem;}

#top_navigation li a{ background-color:rgba(248,58,170,0.00); 
display:block;
white-space: nowrap;/**/
color:#fff;
text-align: center;
text-decoration: none;}
#top_navigation li a:hover{color: rgba(113,244,87,1.00);}

/*  ##################### #layout Grace Formate   ####################### */
#startseite{height: 100vh;}

.spalten3{background-color:#fff;
display: flex;
	justify-content:center;
	padding: 1rem;
	}
.asia_img{width: 1000px;}
.s_america_img{width:  850px;}
.text, .lead{font-size: 120%;}
/*.spalten2{background-color: rgba(243,193,19,0.20);

   
	justify-content: center;
	padding: 1rem;}*/
.spalte01, .spalte02, .spalte03{background-color:#000000;
padding: 0.625rem;
justify-content:center; 
width: 33.3333%; }

/*  ##################### #skills Formate    ####################### */

/*  ##################### #arbeiten Formate   ####################### */

article{background-color: rgba(97,178,229,0.55);
padding: 1rem;
margin-bottom: 1rem;}


.flex_illu{display: flex;
flex-wrap: wrap;/**/	
justify-content:space-evenly;}

.flex_illu .teaser{width:30%;}


.teaser{background-color:red;
padding: 1rem;
margin-bottom: 1rem;}

.teaser:nth-of-type(2n){background-color: rgba(44,44,44,0.75);}

.teaser_content{border:1px solid #000;}









/*  #####################   #sliderCSS   ####################### */

body{
  margin: 0;
  padding: 0;
  height: 100vh;
 /* display: flex;
  justify-content: center;
  align-items: center;
  background: #23E3C9;*/
}

.slider{
  width: 800px;
  height: 500px;
  border-radius: 10px;
  overflow: hidden;
}

.slides{
  width: 500%;
  height: 500px;
  display: flex;
}

.slides input{
  display: none;
}

.slide{
  width: 20%;
  transition: 2s;
}

.slide img{
  width: 800px;
  height: 500px;
}

/*css for manual slide navigation*/

.navigation-manual{
  position: absolute;
  width: 800px;
  margin-top: -40px;
  display: flex;
  justify-content: center;
}

.manual-btn{
    width: 10px;
    height: 10px;
  border: 2px solid #40D3DC;
  padding: 5px;
  border-radius: 10px;
  cursor: pointer;
  transition: 1s;
}

.manual-btn:not(:last-child){
  margin-right: 40px;
}

.manual-btn:hover{
  background: #40D3DC;
}

#radio1:checked ~ .first{
  margin-left: 0;
}

#radio2:checked ~ .first{
  margin-left: -20%;
}

#radio3:checked ~ .first{
  margin-left: -40%;
}

#radio4:checked ~ .first{
  margin-left: -60%;
}

#radio5:checked ~ .first{
  margin-left: -80%;
}

#radio6:checked ~ .first{
  margin-left: -100%;
}
css for automatic navigation/**/

.navigation-auto{
  position: absolute;
  display: flex;
  width: 800px;
  justify-content: center;
  margin-top: 460px;
}

.navigation-auto div{
  border: 2px solid #40D3DC;
  padding: 5px;
  border-radius: 10px;
  transition: 1s;
}

.navigation-auto div:not(:last-child){
  margin-right: 40px;
}

#radio1:checked ~ .navigation-auto .auto-btn1{
  background: #40D3DC;
}

#radio2:checked ~ .navigation-auto .auto-btn2{
  background: #40D3DC;
}

#radio3:checked ~ .navigation-auto .auto-btn3{
  background: #40D3DC;
}

#radio4:checked ~ .navigation-auto .auto-btn4{
  background: #40D3DC;}

#radio5:checked ~ .navigation-auto .auto-btn5{
  background: #40D3DC;}

#radio6:checked ~ .navigation-auto .auto-btn6{
  background: #40D3DC;}

/**/
    /*########################## slide 2#########################*/ 

:root{
   font-family: "Raleway", sans-serif;
   font-size: 16px;
   font-weight: 400;
}

*{
   margin: 0;
   box-sizing: border-box;
}

/* carousel */
.carousel_inner{
  width: 800px;
  height: 500px;
  border-radius: 10px;
  overflow: hidden;
  border: 3px solid #fff;
	
}

.carousel_inner::after{
   content: "";
   display: block;
   clear: both;
}

.carousel_item{
   position: relative;
   float: left;
   display: none;
   width: 100%;
   margin-right: -100%;
}

/* slide effect */
.carousel_item__active,
.carousel_item__pos_next{
   display: block;
}

.carousel_item__pos_next{
   left: 100%;
}

.carousel_item__next{
   transform: translateX(-100%);
   transition: transform .5s ease-in-out;
}

/* fade effect */
.carousel__fade .carousel_item__pos_next{
   left: 0;
   opacity: 0;
}

.carousel__fade .carousel_item__next{
   transform: none;
   opacity: 1;
   transition: opacity .5s ease-in-out;
}

.carousel__fade .carousel_item__active.carousel_item__next{
   opacity: 0;
}

/* carousel */
.carousel_img{
   display: block;
   width: 100%;
}

.carousel_caption{
   position: absolute;
   top: 0;
   left: 0;
   display: flex;
   flex-direction: column;
   justify-content: center;
   width: 100%;
   height: 100%;
   padding: 3rem 2.5rem;
   text-align: center;
   color: #fff;
   z-index: 1;
}

.carousel_title{
   font-family: "Montserrat", sans-serif;
   font-weight: 600;
}

.carousel_description{
   margin-top: .75rem;
   line-height: 150%;
}



/*  ##################### #kontakt Formate   ####################### */


form, .datenschutz{background-color: rgba(105,176,243,0.00);
padding: 1rem;}

h3{background-color:rgba(31,31,31,0.00);
font-size: 4.5rem;
font-weight: normal;
margin: 0;
margin-bottom: 1rem;}

input, textarea, label{background-color: #000000;
font-family: "Trebuchet MS", sans-serif;
color: #fff;
display: block;
width: 50%;
padding: 1rem;
border-radius: 5px;	
font-size: 1.5rem;
margin: auto;
margin-bottom: 1rem;
border:none;
cursor: pointer;}

textarea{resize:vertical; }

[type="submit"]{color: #FFFFFF;}






/*  ##################### @media Formate   ####################### */

@media(max-width:550px){
	
	#top_navigation li{
	background-color:rgba(53,233,51,0.20);
	display:block;
	width: 100%;
	padding: 0.125rem;}
	
	section {padding-top: 7.5rem}
}
